



<%= link_to("BACK TO LIST", subjects_path, :class => 'back-link')%>
<div class="subject new">
  <h1>Create Subject</h1>
  <%= form_for(@subject,:url => subjects_path,:method => 'post')do |f| %>
   <%= render(:partial => 'form',:locals => {:f => f}) %>
  <div class="form-buttons">
    <%= f.submit("Create Subject")%>
  </div>
  <%end%>
</div>
