<!DOCTYPE html>
<html>
  <head>
    <title>Simple Csgeeks</title>

  </head>

  <body>
    <% if !flash[:notice].blank?%>
    <div class ="notice">
      <%= flash[:notice] %>
    </div>
    <%end%>
    <%= yield %>
  </body>
</html>
